[submodule "tmux/plugins/extrakto"]
	path = tmux/plugins/extrakto
	url = https://github.com/laktak/extrakto.git
[submodule "tmux/plugins/pass"]
	path = tmux/plugins/pass
	url = https://github.com/rafi/tmux-pass.git
[submodule "tmux/plugins/fingers"]
	path = tmux/plugins/fingers
	url = https://github.com/Morantron/tmux-fingers.git
