; {:conns
;  {:lein {:port 55555 }
;   :rebl {:port 5678
;          :hooks {:connect! (fn [conn]
;                             #?(:clj
;                                (do
;                                  (require 'cognitect.rebl)
;                                  ((resolve 'cognitect.rebl/ui)))))
;                  :result! (fn [{:keys [code result]}]
;                             (cognitect.rebl/submit code result))}}}
; }

